<p>
  <h1>Flower Name:</h1>
  <h2><%= @masterflower.masterflower_name %></h2>
</p>

<p>
  <h1>Flower Price per Stem:</h1>
  <h2><%= @masterflower.masterflower_price %></h2>
</p>

<p>
  <h1>Date Created:</h1>
  <h2><%= @masterflower.created_at.to_s(:long_ordinal) %></h2>
</p>
