<p>
  <h1>Flower Name:</h1>
  <h2><%= @flower.flower_name %></h2>
</p>

<p>
  <h1>Flower Quantity per <%= link_to @recipe.recipe_name, wedding_recipe_path(@wedding, @recipe) %>:</h1>
  <h2><%= @flower.quantity %></h2>
</p>
