<% @users.each do |user| %>
  <div class="row justify-content-center">
    <%= link_to user.username, edit_user_path(user) %>
  </div>
<% end %>


<div class="row justify-content-center">
  <%= link_to "New User", new_user_path %>
</div>
