<p style="text-align: center">On this page, users can add, delete, and edit other users. The client didn't feel the need for any users to be admin users, so currently all users have admin permissions.</p>

<% @users.each do |user| %>
  <div class="row justify-content-center">
    <%= link_to user.username, edit_user_path(user), class: "user_name" %>
  </div>
<% end %>


<div class="user_name row justify-content-center">
  <%= link_to "New User", new_user_path, class: "user_name" %>
</div>
