<h1 class="title">Viewing All Weddings</h1>

<div class="container">
  <div class="row wedding-row">
    <% @weddings.each do |wedding| %>
      <div class="col-4 wedding-card">
        <h2><%= link_to wedding.wedding_name, wedding_path(wedding) %></h2>
        <h3><%= wedding.wedding_date.to_s(:long_ordinal) %></h3>

        <%= link_to 'Delete Wedding' %>
      </div>
    <% end %>
  </div>
</div>

<a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseNew" aria-expanded="false" aria-controls="collapseExample">
  Create New Wedding
</a>

<div class="collapse" id="collapseNew">
  <div class="well">
    <%= render "new" %>
  </div>
</div>
