// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wedding-frame {
  border: 5px solid #E7CAC3;
  background-color: #E7CAC3;
  border-radius: 5px;
  padding: 20px;
  margin-top: 100px;
}

#wedding-name {
  font-family: monospace;
  color: #545250;
  font-size: 3em;
}

#wedding-date, #completed {
  font-size: 1.5em;
}

#wedding-date, #completed, #recipes, #edit-form {
  font-family: sans-serif;
  font-weight: 300;
  color: #545250;
}

.btn-link:hover {
  text-decoration: underline!important;
  color: #545250;
}

.card-title {
  font-family: monospace;
  font-weight: 500;
  margin-bottom: 0;
}

.accordion {
  width: 100%;
}

#ingredients {
  width: 100%;
}

.btn-link {
  font-family: sans-serif;
  color: #545250;
}

.form-box {
  padding-left: 3px;
  padding-right: 3px;
}

h5 {
  font-weight: 300;
}
