// Place all the styles related to the Weddings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wedding-card {
  margin-bottom: 3%;
  border: 2px solid #E7CAC3;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 1.5%;
  margin-right: 1.5%;
  background-color: #E7CAC3;
  color: #545250;
  border-radius: 0px;
  text-align: center;
  outline: 2px white solid;
  outline-offset: -10px;
}

.col-4 {
  max-width: 30%;
}

.container .wedding-row {
  margin-left: 0;
}

.wedding-name a {
  color: #545250;
}

.title {
  text-align: center;
  color: #545250;
  font-family: monospace;
  font-weight: 500;
  font-size: 4em;
  margin-bottom: 0px;
}

.accordion {
  width: 700px;
}

.wedding-name {
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: monospace;
  font-weight: 600;
}

.wedding-date {
  margin-bottom: 20px;
  font-weight: 300;
  font-family: sans-serif;
}

.button-row {
  margin-left: 1.5%!important;
  margin-right: 1.5%!important;
  margin-bottom: 1%;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.wedding-row {
  margin-top: 30px;
}

#add-to-cart-button {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  border: none;
  text-decoration: underline;
  font-family: monospace;
}

#delete-wedding-button {
  margin-right: 5px;
  margin-left: 5px;
  border: none;
  text-decoration: underline;
  font-family: monospace;
}

#ingredients {
  width: 675px;
}

#create-wedding-button {
  font-family: monospace;
  font-size: 1em;
  color: #545250;
}

#create-wedding-button-container {
  margin-bottom: 10px;
}

#update-button, #copy-wedding-button, #send-wedding-email-button {
  margin-top: 20px;
  margin-left: 20px;
}

#wedding-frame {
  border: 5px solid #E7CAC3;
  background-color: #E7CAC3;
  border-radius: 5px;
  padding: 20px;
  margin-top: 100px;
}

#wedding-name {
  font-family: monospace;
  color: #545250;
  font-size: 2.5em;
}

#wedding-date, #completed, #total-price, #profit, #markup {
  font-size: 1.2em;
}

#wedding-date, #completed, #total-price, #recipes, #edit-form, #profit, #markup {
  font-family: sans-serif;
  font-weight: 300;
  color: #545250;
}
